<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/logo.png'%}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js'%}"></script>

    <title>Empezar seguimiento covid 19</title>
</head>
<body style="background:#031992;">
    <div class="info">
        <p>?</p>
        <div class="dentro noDisplay"><h5>Aqui tienes que anotar los datos solicitados para que podamos contactarte. En la segunda parte tienes que seleccionar cada uno de tus sintomas</h5></div>
    </div>
    <div id="registro" class="centrar">
        <div class="row">
            <form class="col s12" action="inicio" method="post">
            {% csrf_token %}
            <div class="1-1">
                <h5>Empezar un seguimiento</h5><br>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="nombre" type="text" name="nombre" class="validate">
                        <label class="active" for="first_name2">Nombre</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="apellido" name="apellido" type="text" class="validate">
                        <label class="active" for="first_name2">Apellidos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" name="email" type="text" class="validate">
                        <label class="active" for="first_name2">Correo</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="numero" name="celular" type="number" class="validate">
                        <label class="active" for="first_name2">Numero Celular</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <a class="volverMenu btn blue" href="inicio" style="color:white;">Volver</a>
                    </div>
                    <div class="input-field col s6">
                        <a class="siguiente btn yellow" style="color:black;">Siguiente</a>
                    </div>
                </div>
            </div>
            <div class="1-2 noDisplay">
                <h5>Sintomas</h5>
                <label>Marque si tiene alguno de estos sintomas</label>
                <div class="row">
                    <div class="input-field col s12">
                        <label>
                            <input name="tos" type="checkbox" />
                            <span>Tos</span>
                        </label>
                    </div>
                    <div class="input-field col s12">
                        <label>
                            <input name="fiebre" type="checkbox" />
                            <span>Fiebre</span>
                        </label>
                    </div>
                    <div class="input-field col s12">
                        <label>
                            <input name="dolor_toraxico" type="checkbox" />
                            <span>Dolor toráxico</span>
                        </label>
                    </div>
                    <div class="input-field col s12">
                        <label>
                            <input name="dificultad_respiratoria" type="checkbox" />
                            <span>Dificultad respiratoria</span>
                        </label>
                    </div>
                    <div class="input-field col s12">
                        <label>
                            <input name="dolor_toraxico" type="checkbox" />
                            <span>Dolor Toráxico</span>
                        </label>
                    </div>
                    <div class="input-field col s12">
                        <label>
                            <input name="odinofagia" type="checkbox" />
                            <span>Odinofagia</span>
                        </label>
                    </div>
                    <div class="input-field col s12">
                        <label>
                            <input name="mialgias" type="checkbox" />
                            <span>Mialgias</span>
                        </label>
                    </div>
                    <div class="input-field col s12">
                        <label>
                            <input name="calofrios" type="checkbox" />
                            <span>Calofríos</span>
                        </label>
                    </div>
                    <div class="input-field col s12">
                        <label>
                            <input name="cefalea" type="checkbox" />
                            <span>Cefalea</span>
                        </label>
                    </div>
                    <div class="input-field col s12">
                        <label>
                            <input name="diarrea" type="checkbox" />
                            <span>Diarrea</span>
                        </label>
                    </div>
                    <div class="input-field col s12">
                        <label>
                            <input name="anosmia" type="checkbox" />
                            <span>Anosmia</span>
                        </label>
                    </div>
                    <div class="input-field col s12">
                        <label>
                            <input name="ageusia" type="checkbox" />
                            <span>Ageusia</span>
                        </label>
                    </div>
                </div><br>
                <div class="row">
                    <div class="input-field col s6">
                        <a class="volver btn blue" style="color:white;">Volver</a>
                    </div>
                    <div class="input-field col s6">
                        <button class="siguiente btn yellow"style="color:black;">Siguiente</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
    
</body>

    <script type="text/javascript" src="{% static 'js/registro.js'%}"></script>

</html>
