body{
    color: white;
}

.info{
    position: fixed;
    border-radius: 50%;
    bottom: 10px;
    right:10px ;
    background-color: red;
    z-index: 100;
}

.info p{
    font-size: 30px;
    text-align: center;
    padding: 0;
    margin: 0 ;
    width: 50px;
    height: 50px;
}

#inicio{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 50vw;
    transform: translate(-50%);
    width: 300px;
    text-align: center;
    background-color: #03a9f4 ;
    padding: 20px;
    border-radius: 0 0 25px 25px;
}

#inicio h1{
    font-size: 35px;
    margin-top: -2px;;
}

#inicioLeft{
    position: absolute;
    width: 50%;
    height: 100vh;
    background-color: #031992;
}

#inicioLeft a{
    padding:6px;
}

#inicioLeft a:hover{
    background-color: white;
    color: #031992;
    cursor: pointer;
    border-radius: 4px;
}

#inicioRight{
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100vh;
    color: #031992;
}

#inicioRight a{
    padding:6px;
}

#inicioRight a:hover{
    background-color: #031992;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.centrar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:center;
}

#registro{
    color: #031992;
    background-color:white;
    padding:10px;
}

.noDisplay{
    display: none;
}

#ingreso{
    color: #031992;
    background-color:white;
    padding:10px;
}

.info{
    cursor:pointer;
}

.info .dentro{
    position:absolute;
    padding:14px;
    height: 400px;
    width:400px;
    background-color: #2196f3;
    margin-left:-410px;
    margin-top: -410px;
    border-radius: 4px;
    cursor:pointer;
}